p {
  padding: 0;
  margin: 0;
}

.search-bar {
  width: 700px;
}

.search-input {
  font-size: 1.5rem;
}

.results {
  width: 700px;
  max-height: 50vh;
}

.result {
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}

.result {
  width: 100%;
}

.result-title-row, .result-more-info-row, .result-desc-row {
  box-sizing: border-box;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.result-title-row {
  width: 100%;
  background-color: darkslategrey;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.result-title {
  flex-grow: 1;
  font-size: 1.25rem;
}

.result-more-info-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.result-author {
  flex-shrink: 1;
  font-size: 1rem;
}

.result-genres {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.result-genre {
  border-radius: 4rem; /* Big enough for bubble */
  background-color: burlywood; /* TODO: set based on text */
  display: inline-block;
  padding: 0 1rem;
  font-size: .8rem;
}

.result-desc-row {
  width: 100%;
}
