<div class="search-bar">
  <input type="text" [(ngModel)]="searchText" (change)="onSearchInput($event)" class="search-input"/>
  <div *ngIf="results.length > 0" class="results">
    <div *ngFor="let result of results" class="result" (click)="handleResultClick(result.id)">
      <div class="result-title-row">
        <p [innerText]="result.title" class="result-title"></p>
        <p [innerText]="result.releaseDate | date: 'dd/MM/yyyy'" class="result-year"></p>
      </div>
      <div class="result-more-info-row">
        <p [innerText]="result.author" class="result-author"></p>
        <div class="result-genres">
          <p *ngFor="let genre of result.genres" [innerText]="genre.text" class="genre"></p>
        </div>
      </div>
      <div class="result-desc-row">
        <p [innerText]="result.shortDescription" class="result-desc"></p>
      </div>
    </div>
  </div>
</div>
