/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.genre {
  border-radius: 4rem; /* Big enough for bubble */
  background-color: burlywood; /* TODO: set based on text */
  display: inline-block;
  padding: 0 1rem;
  font-size: .8rem;
}

.panel {
  background-color: hsla(0, 0%, 98%, 1);
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 0.5rem;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0 0 15px hsla(0, 0%, 60%, 0.8);
  padding: 2rem 4rem;
}

.panel-header {
  margin-bottom: 1rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
