<form [formGroup]="form" (ngSubmit)="onSubmit()" class="panel">

  <div *ngIf="demoMode" class="overlay"></div>

  <h3 class="panel-header">Submit Stats</h3>

  <div class="form-section checkbox-row">
    <p><mat-checkbox formControlName="cbxWordCount" id="cbxWordCount">Word Count</mat-checkbox></p>
    <p><mat-checkbox formControlName="cbxPageCount" id="cbxPageCount">Page Count</mat-checkbox></p>
    <p><mat-checkbox formControlName="cbxDuration" id="cbxDuration">Time to Read</mat-checkbox></p>
    <p><mat-checkbox formControlName="cbxDifficulty" id="cbxDifficulty">Difficulty</mat-checkbox></p>
  </div>

  <div id="wordCountSection" class="form-section" [hidden]="form.controls['cbxWordCount'].value == false">
    <mat-form-field appearance="fill" style="margin-bottom: -1.34375em">
      <mat-label>Enter Word Count</mat-label>
      <input matInput formControlName="wordCount" type="number" placeholder="13000" />
    </mat-form-field>
  </div>

  <div id="pageCountSection" class="form-section" [hidden]="form.controls['cbxPageCount'].value == false">
    <mat-form-field appearance="fill">
      <mat-label>Enter Page Count</mat-label>
      <input matInput formControlName="pageCount" type="number" placeholder="123" />
    </mat-form-field>
  </div>

  <div id="durationSection" class="form-section" formGroupName="duration" [hidden]="form.controls['cbxDuration'].value == false">
    <label>How long did it take you to read from start to finish?</label>
    <section>
      <mat-form-field appearance="fill" class="small-number-input">
        <input matInput type="number" formControlName="hours" placeholder="4">
      </mat-form-field>
      Hours
      <mat-form-field appearance="fill" class="small-number-input">
        <input matInput type="number" formControlName="minutes" placeholder="56">
      </mat-form-field>
      Minutes
    </section>
  </div>

  <div id="difficultySection" class="form-section" [hidden]="form.controls['cbxDifficulty'].value == false">
    <label>How difficult was it to read on a scale from 1 to 10?</label>
    <div class="slider-with-text-row">
      <mat-slider [max]="10"
                  [min]="0"
                  [step]="1"
                  [thumbLabel]="true"
                  formControlName="difficulty">
      </mat-slider>

      <p class="example-value-label">
        You found this book
        <span difficultyColor="{{getDifficultyStr(form.controls['difficulty'].value)}}"
              style="font-weight: bold">
          {{ getDifficultyStr(form.controls['difficulty'].value) }}
        </span>
        to read.
      </p>
    </div>
  </div>

  <div class="btn-row" style="margin-top: 2.5rem;">
    <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
    <button type="button" mat-button color="secondary" (click)="onReset()">Reset</button>
  </div>
</form>
