:host {
  margin-top: auto;
}

footer {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 2rem 0;
  width: 100%;
  background-color: hsl(204, 38%, 11%);
}

footer p {
  text-align: center;
  font-size: .8rem;
  margin: 0;
  padding: 0;
}
